doctype 5
html
  head
    link(rel='stylesheet', href='extjs/resources/css/ext-all.css')
    script(type='text/javascript', src='extjs/ext-debug.js')

    script
      Ext.namespace('Ext.ghettoVCB.settings');
      Ext.ghettoVCB.settings.dataPath      = '#{dataPath}';
      Ext.ghettoVCB.settings.scriptPath    = '#{scriptPath}';
      Ext.ghettoVCB.settings.vms_to_backup = '#{vms_to_backup}';
      Ext.ghettoVCB.settings.defaultHost   = '#{defaultHost}';



    script(type='text/javascript', src='js/app.js')